<!DOCTYPE HTML>
<html>

<head>
  <!-- Bootstrap CSS Include -->
  <link rel='stylesheet' href='/css/bootstrap.min.css'>
  <!-- Custom CSS Include -->
  <link rel='stylesheet' href='/css/main.css'>
  <title>Reviews</title>
</head>

<body>
  {{{body}}}

  <!-- JQuery Include -->
  <script src='/js/jquery-3.2.1.min.js'></script>
  <!-- Bootstrap JS Include -->
  <script src='/js/bootstrap.min.js'></script>
</body>

</html>